<div class ="teacher-dashboard-kpis">   
    <div class = "kpi-card-class-attendance-count">
        <h2 class = "teacher-kpi-title">Class Attendance</h2>
        <p class = "teacher-kpi-value">38/42</p>
    </div>
    <div class = "kpi-card-due-homework-count">
        <h2 class = "teacher-kpi-title">Assignments due</h2>
        <p class = "teacher-kpi-value">11</p>
    </div>
    <div class = "kpi-card-parent-comments-count">
        <h2 class = "teacher-kpi-title">Parent comments</h2>
        <p class = "teacher-kpi-value">5</p>
    </div>
    <div class = "kpi-card-today-classes-count">
        <h2 class = "teacher-kpi-title">Today's Classes</h2>
        <p class = "teacher-kpi-value">4</p>
    </div>
</div>