<div class = "teacher-dashboard-main-container">     
    <div class = "teacher-sidebar-container">
        <app-teacher-sidebar></app-teacher-sidebar>
    </div>

    <div class = "teacher-dashboard-main-content">
        <div class = "teacher-dashboard-header">
            <h1>Teacher Dashboard</h1>
            <p>teacher-dashboard works for me!</p>
        </div>
        
         <div class = "teacher-dashboard-body">
            
            <app-teacher-dashboard-kpis></app-teacher-dashboard-kpis>
            
         </div>
    </div>

</div>

